.covers {
  
  margin-right: 20px;
  margin-left: 20px;

}

.cover {
    & img{
        border-radius: 100px;
        height: 100px;
        width: 100px;
    
        border-style: solid;
        border-color: grey;
        padding: 5px;
    }

    & .topN {
        margin-top: -10px;
        color:black
    }
}