.swiper1  .swiper-slide{

  width: 130px !important;
  height:180px;

}

.swiper3 {
    
    padding-left: 30px;
    height: 250px;
    
    & > .swiper-wrapper {
        padding-right: 30px !important;
    }


    & .swiper-slide {
        width: 300px!important;
        height:200px;
    }


}