$box-width = 467px;

.box {

    border-radius: 8px;
    background-color: #fff;
    padding: 1rem;
    -moz-box-shadow: 0px 2px 13px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 2px 13px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 13px rgba(0, 0, 0, 0.11);
    font-size: 14px;
    font-family: arial;
    border-style: solid;
    border-color: #9e9e9e;
    border-width: 1px;
    background-color: #ffffff;
}

.kalunga {

	border-radius: 2px !important;
	background-color: #ffffff !important;
	border: 1px solid #cacaca !important;
	
}

h3.title {

	margin: 0 0 1rem 0;
	padding: 0;
	color: #444;
	font-size: inherit;
	font-family: inherit;
	font-weight: bold;
}

h2.title {

	color: #393939;
	font-size: 30px;
	margin-bottom: 2rem;
	font-family: 'lucida grande';
	font-weight: bolder;
}

button {
	@extend .kalunga;
}

#fotoProfile{

  border-radius: 100%;
  height: 200px;
  width: 200px;
  filter: grayscale(100%);
  border-style: solid;
  border-color: #636262;
  padding: 5px;

}
.bio{
  padding: 20px;
  border-radius: 20px;
  min-height: 230px;
  border: 1px solid #e8e8e8  !important;
  box-shadow: none!important;

  p{
    text-align: justify;
  }
}

.condolencia{
  padding: 20px;
  border-radius: 20px;
  min-height: 170px;
  border: 1px solid #e8e8e8  !important;
  box-shadow: none!important;
}
.bioBlack{
  padding: 20px;
  border-radius: 20px;
  
  box-shadow: none!important;
  background: #191919!important;
  label{
    padding-left: 20px;
  }
  input[type="text"],textarea,input[type="date"]{

    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    background-color:#333333!important;
    border:none!important;
    color: white !important;
    border-radius: 6px!important;
    -webkit-border-radius: 50px!important;
  }

  input[type="text"]:focus,textarea:focus,input[type="date"]:focus{
    border-bottom: none!important;
    -webkit-box-shadow: none!important;
      box-shadow: none!important;
  }
  textarea{
    height: 200px;
    padding-top: 20px;
    border-radius: 30px!important;
  }
  button{
    border-radius: 30px!important;
    color: grey;
    font-weight: bold;
  }

}

.dropdown-content{
  border-radius: 25px;
  li{
    span{
      color: black!important;      
    }
  }

}
#memorial-content{

  @media (min-width: 568px) {
    padding-left: 5%;
    padding-right: 5%;
  }



}
.fotos{
  img{
    border: 1px solid #e8e8e8  !important;
    margin-top: 20px;
    border-radius: 10px;
    width: 100%;
  }
}

.bioBlack2{
  padding: 20px;
  border-radius: 20px;
  box-shadow: none!important;
  background: #191919!important;
}


 .inputs{

    padding-left: 20px !important;
    width: calc(100% - 20px) !important;
    background-color:#333333!important;
    border:none!important;
    color: white !important;
    border-radius: 50px!important;
     font-weight: bold;
    -webkit-border-radius: 50px!important;
  }

  .inputs:focus{
    border-bottom: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
  }
  .inputsArea{
    height: 200px;
    padding-top: 20px;
    border-radius: 30px!important;
  }
  .imagem{
    i{
      position: absolute;
      margin-top: 40px;
      margin-left: 20px;
      background: white;
      padding: 5px;
      border-radius: 50px;

      color: grey;  
      z-index: 1;     
    }
   
  } 

