.kalunga {
	border-radius: 2px !important;
	background-color: #f2f2f2 !important;
	border: 1px solid #cacaca !important;
	box-shadow: 0px 2px 13px #cacaca !important;
}

header {
	background-color: #999;
	background: url('../../src/img/bg-flowers.jpg') no-repeat;
	background-attachment: fixed;
	background-size: 100% 95vh;
	height: 100vh;
	@media (max-width: 568px) {
		background-size: 100% 50vh;
		height: 50vh;
	}
}

.navbar {
	padding: 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media (max-width: 568px) {
		padding: 1rem;
		& .sidenav-trigger {
			margin: 0 !important;
		}
	}
	
	& form {
		line-height: 0 !important;
		height: auto !important;
	}
	
	i.material-icons {
		line-height: 0 !important;
		height: 0 !important;
	}
}

#nav-mobile li a:hover {
	color: #999;
}

.btn-menu {
	@extends .kalunga;
	height: 36px !important;
	width: 44px !important;
	cursor: pointer;
	@media (max-width: 320px) {
		padding-right: 1.4rem;
	}
}

.form-search {
	position: relative;
	margin-right: 2rem;
	margin-left: 0.8rem;
	& i {
		position: absolute;
		color: #777;
		height: 40px !important;
		top: 20px;
		left: 5px;
	}
}

.input-search {
	width: 466px !important;
	margin: 0 !important;
	@media (max-width: 568px) {
		width: 50% !important;
	}
	
	@media (max-width: 768px) {
		width: 80% !important;
	}
	height: 39px !important;
	padding-left: 2.5rem !important;
	padding-right: 0.5rem !important;
	&::-webkit-input-placeholder {
		color: #777;
	}
	&::placeholder {
		color: #777;
	}
}


.btn-publish {
	@extends .kalunga;
	width: 101px;
	height: 39px;
}