.kalunga {
	border-radius: 2px !important;
	background-color: #f2f2f2 !important;
	border: 1px solid #cacaca !important;

}

.brand-logo{
	img{
		margin-top: 15px;
		margin-left: -10px;
	}
}
header {
	background-color: #999;
	background: url('../../src/img/bg-flowers.png') no-repeat;
	
	background-size: cover;
	height: 60vh;
	@media (max-width: 568px) {
		background-size: cover;
		background-position: center;
		height: 70vh;
	}
}
nav{
	background-color: #191919  !important;
	box-shadow: none!important;
	a{
		text-transform: capitalize !important;
	}
}
.navbar {
	padding: 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	


	@media (max-width: 568px) {
		padding: 1rem;
		& .sidenav-trigger {
			margin: 0 !important;
		}
	}
	
	& form {
		line-height: 0 !important;
		height: auto !important;
	}
	
	i.material-icons {
		line-height: 0 !important;
		height: 0 !important;
	}
}

#nav-mobile li a:hover {
	color: #999;
}

.btn-menu {
	@extends .kalunga;
	height: 36px !important;
	width: 44px !important;
	cursor: pointer;
	background-color: transparent !important;
	box-shadow: none!important;
	border:none !important

	@media (max-width: 320px) {
		padding-right: 1.4rem;
	}
	i{
		color: #e2e2e2!important;
	}
}

.form-search {
	position: relative;
	margin-right: 2rem;
	margin-left: 0.8rem;
	& i {
		
		color: #777;
		height: 40px !important;
		top: 20px;
		left: 10px;

	}
}

.input-search {
	font-weight: bold;
	width: 466px !important;
	margin: 0 !important;
	@media (max-width: 568px) {
		width: 50% !important;
	}
	
	@media (max-width: 768px) {
		width: 80% !important;
	}
	height: 39px !important;
	padding-left: 2.5rem !important;
	padding-right: 0.5rem !important;
	&::-webkit-input-placeholder {
		color: #777;
	}
	&::placeholder {
		color: #777;
	}
}

.btn-publish {
	@extends .kalunga;
	width: 101px;
	height: 42px;
	font-weight: bold;
	color:#424242
}