.kalunga {
	border-radius: 2px !important;
	background-color: #f2f2f2 !important;
	border: 1px solid #cacaca !important;

}

.brand-logo{
	img{
		margin-top: 15px;
		margin-left: -10px;
	}
}
header {
	background-color: #999;
	background: url('../../src/img/bg-flowers.png') no-repeat;
	
	background-size: cover;
	height: 45vh;
	
	@media (max-width: 568px) {
		background-size: cover;
		background-position: center;
		height: 70vh;
	}
}
nav{
	background-color: #191919  !important;
	box-shadow: none!important;
	a{
		text-transform: capitalize !important;
	}
}
.navbar {
	padding: 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	


	@media (max-width: 568px) {
		padding: 1rem;
		& .sidenav-trigger {
			margin: 0 !important;
		}
	}
	
	& form {
		line-height: 0 !important;
		height: auto !important;
	}
	
	i.material-icons {
		line-height: 0 !important;
		height: 0 !important;
	}
}

#nav-mobile li a:hover {
	color: #999;
}

.btn-menu {
	@extends .kalunga;

	cursor: pointer;
	background-color: transparent !important;
	box-shadow: none!important;
	border:none !important

	i{
		color: #e2e2e2!important;
	}
}

.nav-wrapper{
	@media only screen and (max-width: 600px){
		.show-on-small {
	    	display: flow-root !important;
		}		
	}
}

.form-search {
	position: relative;

	& i {
		float: left;
		color: #777;
		height: 40px !important;
	}

	input{
		background-color:#333333!important;
		border:none!important;
		color: #777777 !important;
		border-radius: 6px!important;
		-webkit-border-radius: 50px!important;
	}

	input:focus{
		border-bottom: none!important;
        -webkit-box-shadow: none!important;
    	box-shadow: none!important;
	}
}


.input-search {

	font-weight: bold;
	width: 466px !important;
	margin: 0 !important;
	height: 39px !important;
	text-align: center;

	&::-webkit-input-placeholder {
		color: #777;
	}
	&::placeholder {
		color: #777;
	}
}

.btn-publish {
	@extends .kalunga;
	width: 101px;
	height: 42px;
	font-weight: bold;
	color:#424242
}

.contaIcon{

}
#nav-mobile{
	
		position: absolute;
    	right: 30px;
    	top: 0px;
	
}

body{
	background-color: #f1f1f1;
}
a{
	color: black;
}